*{
    padding: 0;
    margin: 0;
    height: 100%;
}

.parent{
    width: 810px;
    height: 100%;
    margin: 0 auto;
}

.side{
    background-color: red;
    color: white;
    width: 200px; height: 100%;
    float: left;
}

.main{
    background-color: dodgerblue;
    color: white;
    width: 600px; height: 100%;
    float: left;
    margin-left: 10px;
}

.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

