.side{
    width: 200px; height: 100px;
    margin: 50px auto;
    background-color: deepskyblue;
    position: relative;
}

.side .pointer{
    position: absolute;
    bottom: 10px; right: 10px;
    line-height: 10px;
}

.side .pointer i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-left: 5px;
}

.side .pointer .current{
    background-color: white;
}